@import './components/atoms/button.scss';

main {
    button {
        @include button((
            border-radius: 3px,
            color: #fff,
            background: #aeb6cb,
            border: #aeb6cb
        ));
    }
}
