@mixin legend-atom($options: ()) {
    border-color: #ebeff6;
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    padding: 10px 15px;
    border-bottom: 1px solid #ebeff6;
    font-weight: 700;
    width: 100%;
}